{
    "extends": [
        "airbnb",
        "airbnb/hooks"
    ],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ]
    },
    "globals": {
        "fetch": false
    },
    "env": {
        "jest": true
    }
}